<div class="containter productIndex">
  <div class="row">
    <div class="col-10 col-lg-6 mx-auto">
      <div class="actions">
        <%= link_to 'Nueva entidad', new_entity_path, class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <% @entities.each do |entity| %>
        <div class="card mx-auto" style="width: 40rem;">
          <div class="card-body">
            <h1 class="card-title display-4"><%= link_to entity.name, entity %> <span class="badge badge-primary badge-pill"><%= Tomb.where('entity like ?', entity.name).count %></span></h1>
            <h2>Contacto: <%= entity.contactname %></h2>
            <h2>Teléfono: <%= entity.contacttel %></h2>
            <h2>Celular: <%= entity.contactcel %></h2>
            <h2>Email: <%= entity.contactemail %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div> 
</div>

