<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h6 class="text-muted my-3">Información corporativa</h6>
      <ul class="list-group">
        <li class="list-group-item"><strong>Nombre: </strong><%= @entity.name %></li>
        <li class="list-group-item"><strong>Dirección: </strong><%= @entity.address %></li>
        <li class="list-group-item"><strong>Email:</strong><%= @entity.email %></li>
        <li class="list-group-item"><strong>Website:</strong><%= @entity.website %></li>
        <li class="list-group-item"><strong>Ubicación: </strong><%= @entity.location %></li>
        <li class="list-group-item"><strong>Teléfono del conmutador: </strong><%= @entity.tel %></li>
        <li class="list-group-item"><strong>Celular del conmutador: </strong><%= @entity.cel %></li>
      </ul>
      <h6 class="text-muted my-3">Información de contacto</h6>
      <ul class="list-group">
        <li class="list-group-item"><strong>Nombre de contacto: </strong><%= @entity.contactname %></li>
        <li class="list-group-item"><strong>Email de contacto: </strong><%= @entity.contactemail %></li>
        <li class="list-group-item"><strong>Teléfono de contacto: </strong><%= @entity.contacttel %></li>
        <li class="list-group-item"><strong>Celular de contacto: </strong><%= @entity.contactcel %></li>
        <div class="actions">
          <%= link_to 'Editar', edit_entity_path(@entity), class: "btn btn-primary btn-block mt-3" %>
        </div>
        <div class="actions">
          <%= link_to 'Volver a enitdades', entities_path, class: "btn btn-primary btn-block mt-3" %>
        </div>
      </ul>
    </div>
  </div>
</div>
