<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @entity.address %>
</p>

<p>
  <strong>Location:</strong>
  <%= @entity.location %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @entity.tel %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @entity.cel %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @entity.contactname %>
</p>

<p>
  <strong>Website:</strong>
  <%= @entity.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entity.email %>
</p>

<p>
  <strong>Contactemail:</strong>
  <%= @entity.contactemail %>
</p>

<p>
  <strong>Contacttel:</strong>
  <%= @entity.contacttel %>
</p>

<p>
  <strong>Contactcel:</strong>
  <%= @entity.contactcel %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
