<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= form_with(model: tomb, local: true) do |form| %>
        <% if tomb.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(tomb.errors.count, "error") %> prohibited this tomb from being saved:</h2>
            <ul>
            <% tomb.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Título %>
              <%= form.text_field :title, class: "form-control form-control-sm input", autofocus: true, autocomplete: "título" %>
            </div>            
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Descripción %>
              <%= form.text_area :description, class: "form-control form-control-sm input" %>
            </div>            
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Area %>
              <%= form.number_field :area, class: "form-control form-control-sm input" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Capacidad %>
              <%= form.number_field :capacity, class: "form-control form-control-sm input" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Localización %>
              <%= form.text_field :location, class: "form-control form-control-sm input" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Notas %>
              <%= form.text_area :notes, class: "form-control form-control-sm input" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Precio %>
              <%= form.text_field :price, class: "form-control form-control-sm input" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Categoría %>
              <%= form.select(:category, options_for_select(@ptypes), { include_blank: true }, class: "form-control form-control-sm input") %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.label :Entidad %>
              <%= form.select(:entity, options_for_select(@etypes), { include_blank: true }, class: "form-control form-control-sm input") %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= form.submit "Crear", class: "btn btn-warning btn btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



