<div class="container productIndex">
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <%= form_with(model: tomb, local: true) do |form| %>
      <% if tomb.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tomb.errors.count, "error") %> prohibited this tomb from being saved:</h2>
        <ul>
          <% tomb.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="actions">
        <%= link_to 'Volver a anuncios', tombs_path, class: "btn btn-primary btn-lg btn-block mt-3" %>
      </div>
      <div class="form-group productIndex">
        <%= form.label 'Aviso clasificado' %>
        <%= form.text_field :title, class: "form-control form-control-lg input", autofocus: true, autocomplete: "título" %>

        <%= form.label 'Descripción del espacio' %>
        <%= form.text_area :description, class: "form-control form-control-lg input" %>

        <%= form.label 'Categoría' %>
        <%= form.select(:category, options_for_select(productsList, @tomb.category), { include_blank: true }, class: "form-control form-control-lg input mb-3") %>

        <div class="container productIndex">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="alert alert-success" role="alert">
              <h4 class="text-muted my-3">Lotes</h4>
              <%= form.label 'Área (m2)' %>
              <%= form.number_field :area, class: "form-control form-control-lg input" %>

              <%= form.label 'Capacidad' %>
              <%= form.number_field :capacity, class: "form-control form-control-lg input" %>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="alert alert-warning" role="alert">
              <h4 class="text-muted my-3">Osarios y Cenizarios</h4>
              <%= form.label 'Altura (cm)' %>
              <%= form.number_field :height, class: "form-control form-control-lg input" %>

              <%= form.label 'Ancho (cm)' %>
              <%= form.number_field :width, class: "form-control form-control-lg input" %>

              <%= form.label 'Profundo (cm)' %>
              <%= form.number_field :depth, class: "form-control form-control-lg input" %>

              <%= form.label 'Lámpara' %>
              <%= form.select(:entity, options_for_select([['Si', 'Si'], ['No', 'No']]), { include_blank: true }, class: "form-control form-control-lg input") %>
            </div>
            </div>
          </div>
        </div>

        <%= form.label 'Sector' %>
        <%= form.text_field :location, class: "form-control form-control-lg input" %>

        <%= form.label 'Grupo/Columna' %>
        <%= form.text_field :code, class: "form-control form-control-lg input" %>


        <%= form.label 'Unidad' %>
        <%= form.select(:level, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'],['7', '7'], ['8', '8'], ['9', '9'],['10', '10'], ['11', '11'], ['12', '12']], @tomb.level), { include_blank: true }, class: "form-control form-control-lg input") %>



        <%= form.label :Precio %>
        <%= form.text_field :price, class: "form-control form-control-lg input" %>

        <%= form.label :Entidad %>
        <%= form.select(:entity, options_for_select(entitiesList, @tomb.entity), { include_blank: true }, class: "form-control form-control-lg input") %>

        <%= form.label :Notas %>
        <%= form.text_area :notes, class: "form-control form-control-lg input" %>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-primary btn-lg btn-block mt-3" %>
        </div> 
      </div>
      <% end %>
    </div>
  </div>
</div>





