<div class="container-fluid productIndex">
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <%= form_with(model: tomb, local: true) do |form| %>
        <% if tomb.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(tomb.errors.count, "error") %> prohibited this tomb from being saved:</h2>
            <ul>
              <% tomb.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= link_to 'Volver a anuncios', tombs_path, class: "btn btn-primary btn-lg btn-block mt-3" %>
        <% if current_user.admin == true %>
          <div class="alert alert-warning mt-3" role="alert">
            <small class="text-muted">Publicado</small>
            <%= form.select(:ready, options_for_select([['No', 'No'], ['Si', 'Si']], @tomb.ready), { include_blank: false }, class: "form-control form-control-lg input mt-3") %>
          </div>
          <%= form.submit "Guardar", class: "btn btn-primary btn-lg btn-block mt-3" %>
        <% end %>
        <div class="form-group">
          <%= form.label 'Texto promocional' %>
          <%= form.text_field :title, class: "form-control form-control-lg input", autofocus: true, autocomplete: "título" %>

          <%= form.label 'Descripción del espacio' %>
          <%= form.text_area :description, class: "form-control form-control-lg input" %>

          <div class="row">
            <div class="col-6 col-lg-6">
              <%= form.label :Precio %>
              <%= form.number_field :price, class: "form-control form-control-lg input" %>
            </div>
            <div class="col-6 col-lg-6">
              <%= form.label 'Categoría' %>
              <%= form.select(:category, options_for_select(productsList, @tomb.category), { include_blank: true }, class: "form-control form-control-lg input") %>
              <%= form.label 'Capacidad' %>
              <%= form.number_field :capacity, class: "form-control form-control-lg input" %>
            </div>
          </div>
          <div class="alert alert-info" role="alert">
            <h4 class="text-muted my-3">Ubicación</h4>
            <div class="row">
              <div class="col-6 col-lg-6">
                <%= form.label "Entidad" %>
                <%= form.select(:entity, options_for_select(entitiesList, @tomb.entity), { include_blank: true }, class: "form-control form-control-lg input") %>
                <%= form.label 'Sector' %>
                <%= form.text_field :sector, class: "form-control form-control-lg input" %>
              </div>
              <div class="col-6 col-lg-6">
                <%= form.label 'Grupo/Columna' %>
                <%= form.text_field :group, class: "form-control form-control-lg input" %>
                <%= form.label 'Unidad' %>
                <%= form.select(:level, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'],['7', '7'], ['8', '8'], ['9', '9'],['10', '10'], ['11', '11'], ['12', '12']], @tomb.level), { include_blank: true }, class: "form-control form-control-lg input") %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="alert alert-success" role="alert">
              <h4 class="text-muted my-3">Solo para lotes</h4>
              <%= form.label 'Área (m^2) - Capacidad 1 = 1,80m^2 aprox' %>
              <%= form.number_field :area, step: :any, class: "form-control form-control-lg input" %>
            </div>
          </div>
        </div>
        <div class="alert alert-warning" role="alert">
          <h4 class="text-muted my-3">Solo para osarios y cenizarios</h4>
          <div class="row">
            <div class="col-6 col-lg-6">
              <%= form.label 'Altura (cm)' %>
              <%= form.number_field :heigth, class: "form-control form-control-lg input" %>

              <%= form.label 'Ancho (cm)' %>
              <%= form.number_field :width, class: "form-control form-control-lg input" %>
            </div>
            <div class="col-6 col-lg-6">
              <%= form.label 'Profundo (cm)' %>
              <%= form.number_field :depth, class: "form-control form-control-lg input" %>

              <%= form.label 'Lámpara' %>
              <%= form.select(:light, options_for_select([['Si', 'Si'], ['No', 'No']], @tomb.light), { include_blank: true }, class: "form-control form-control-lg input") %>
            </div>
          </div>
        </div>
        <% if current_user.admin == true %>
          <%= form.label 'Notas del negocio' %>
          <%= form.text_area :notes, class: "form-control form-control-lg input" %>
        <% end %>
        <div class="actions mb-3">
          <%= form.submit "Guardar", class: "btn btn-primary btn-lg btn-block mt-3" %>
        </div> 
      <% end %>
    </div>
  </div>
</div>





