<div class="container-fluid mainIndex">
  <div class="row">
    <div class="col-12 col-lg-4 mx-auto">
      <% if current_user == nil %>
        <%= link_to "Quieres publicar? Regístrate aquí!", new_user_registration_path, class: 'btn btn-warning btn-lg productIndex d-block mb-3' %>
        <%= link_to "Ingresa a tu cuenta", new_user_session_path, class: 'btn btn-warning btn-lg productIndex d-block mb-3' %>
      <% end %>
      
      <div class="alert alert-secondary mt-3" role="alert">
        <h1>Anuncios Clasificados</h1>
      </div>
      <div class="alert alert-info" role="alert">
        <h2 class="text-muted my-3" id="search-help">Escribe el # sin el BR para buscar</h2>
        <%= form_tag tombs_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :search, params[:search], class: 'form-control mx-auto mr-lg-2 d-lg-none', placeholder: 'Buscar anuncio' %>
          <span class="input-group-btn"></span>
        <% end %>
      </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="card-deck">
        <% @tombs.each do |tomb| %>
        
          <div class="col-12 col-lg-3">
            <div class="card mb-5">
              <div class="card-header">
                <h1 class="card-title">BR-<%= tomb.id %>: <%= link_to tomb.title, tomb %></h1>
              </div>
              <% if tomb.pictures.length != 0 %>
                <%= link_to tomb do %>
                  <img src="<%= tomb.pictures.first.image.url  %>" class="card-img-top" alt="...">
                <% end %>
              <% else %>
                <%= link_to tomb do %>
                  <img src="<%= asset_path 'noimage.JPG' %>" class="card-img-top" alt="...">
                <% end %>
              <% end %>
              <% if current_user != nil %>
                <% if current_user.admin == true %>
                  <% if tomb.ready == 'Si' %>
                    <div class="alert alert-success" role="alert">
                      Publicado: <%= tomb.ready %>
                    </div>
                  <% else %>
                    <% if tomb.ready == 'No' %>
                      <div class="alert alert-danger" role="alert">
                        Publicado: <%= tomb.ready %>
                      </div>
                    <% else %>
                      <div class="alert alert-primary" role="alert">
                        Estado: <%= tomb.ready %>
                      </div>
                    <% end %>
                  <% end %>
                  <% if tomb.customers.where("done = ?", false).length != 0 %>
                    <div class="alert alert-success display-4" role="alert">
                      Clientes: <%= tomb.customers.where("done = ?", false).length %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <div class="card-body ml-4">
                <h5 class="card-title"><%= number_to_currency(tomb.price, precision: 0, delimiter: '.') %></h5>
                <p class="card-text d-inline">En <%= tomb.entity %>, </p>
                <% if tomb.category == 'Lote' %>
                  <p class="card-text d-inline"><%= tomb.category.downcase %> con capacidad <%= tomb.capacity %>.</p>
                <% else %>
                  <p class="card-text d-inline"><%= tomb.category.downcase %> con capacidad <%= tomb.capacity %>, a nivel <%= tomb.level %> desde el piso.</p>
                <% end %>
              </div>
            </div>
          </div>
        
        <% end %>
      </div>
    </div>
  </div>
</div>

