<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tomb.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tomb.description %>
</p>

<p>
  <strong>Area:</strong>
  <%= @tomb.area %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @tomb.capacity %>
</p>

<p>
  <strong>Code:</strong>
  <%= @tomb.code %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @tomb.notes %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tomb.price %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tomb.location %>
</p>

<p>
  <strong>Public:</strong>
  <%= @tomb.public %>
</p>

<p>
  <strong>Expdate:</strong>
  <%= @tomb.expdate %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tomb.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @tomb.user %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @tomb.entity %>
</p>

<%= link_to 'Edit', edit_tomb_path(@tomb) %> |
<%= link_to 'Back', tombs_path %>
