<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p>
        <strong>Title:</strong>
        <%= @tomb.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @tomb.description %>
      </p>

      <p>
        <strong>Area:</strong>
        <%= @tomb.area %>
      </p>

      <p>
        <strong>Capacity:</strong>
        <%= @tomb.capacity %>
      </p>

      <p>
        <strong>Code:</strong>
        <%= @tomb.code %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @tomb.notes %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @tomb.price %>
      </p>

    </div>
    <div class="col-sm-4">
     
      <p>
        <strong>Location:</strong>
        <%= @tomb.location %>
      </p>

      <p>
        <strong>Ready:</strong>
        <%= @tomb.ready %>
      </p>

      <p>
        <strong>Expdate:</strong>
        <%= @tomb.expdate %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @tomb.category %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @tomb.user.email %>
      </p>

      <p>
        <strong>Entity:</strong>
        <%= @tomb.entity %>
      </p>


    </div>
    <div class="col-sm-4">
      <h4>Si lo necesitas, déjanos tus datos para comunicarnos</h4>
      <%= form_for [@tomb, @tomb.customers.build] do |f| %>
        <div class="form-group">
          <%= f.text_area :name, class: "form-control", placeholder: "Nombre" %>
        </div>

        <div class="form-group">
          <%= f.text_area :email, class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.text_area :tel, class: "form-control", placeholder: "Teléfono de contacto" %>
        </div>

        <div class="actions text-right">
          <%= f.submit "Contáctame!", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_tomb_path(@tomb) %> |
<%= link_to 'Back', tombs_path %>
