<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p>
        <strong>Title:</strong>
        <%= @tomb.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @tomb.description %>
      </p>

      <p>
        <strong>Area:</strong>
        <%= @tomb.area %>
      </p>

      <p>
        <strong>Capacity:</strong>
        <%= @tomb.capacity %>
      </p>

      <p>
        <strong>Code:</strong>
        <%= @tomb.code %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= @tomb.notes %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @tomb.price %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @tomb.location %>
      </p>

      <p>
        <strong>Ready:</strong>
        <%= @tomb.ready %>
      </p>

      <p>
        <strong>Expdate:</strong>
        <%= @tomb.expdate %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @tomb.category %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @tomb.user.email %>
      </p>

      <p>
        <strong>Entity:</strong>
        <%= @tomb.entity %>
      </p>


    </div>
  </div>
</div>



<%= link_to 'Edit', edit_tomb_path(@tomb) %> |
<%= link_to 'Back', tombs_path %>
