<div class="containter-fluid customerIndex">
  <div class="row">
    <div class="col-12 mx-auto">
      <h1>Clientes potenciales</h1>

      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Tel</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.email %></td>
            <td><%= customer.tel %></td>
            <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
            <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

