<div class="container-fluid productIndex">
  <div class="row">
    <div class="col-12 col-lg-10 mx-auto">
      <%= link_to "Volver a Clientes", tasks_path, class: "btn btn-primary btn-lg btn-block" %>

      <h1>Negocio potencial</h1>
      <div class="card">
        
      <% if @tomb.pictures.length != 0 %>
        <img src="<%= @tomb.pictures.first.image.url  %>" class="card-img-top" alt="..."  style="width: 40rem;">
      <% else %>
        <img src="<%= asset_path 'noimage.JPG' %>" class="card-img-top" alt="..."  style="width: 40rem;">
      <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to @tomb.title, @tomb %></h5>
          <h5 class="card-title display-4"><%= number_to_currency(@tomb.price, precision: 0, delimiter: '.') %></h5>
          <p class="card-text d-inline">Ubicación: <%= @tomb.entity %></p>
          <p class="card-text d-inline"> - Capacidad: <%= @tomb.capacity %></p>
          <p class="card-text d-inline"> - Tipo: <%= @tomb.category %></p>
          <p class="card-text d-inline"> - Notas: <%= @tomb.notes %></p>
        </div>
      </div>

      <p>Cliente: <%= @customer.name%></p>
      <p>Celular/Teléfono: <a href="tel:#{@customer.tel}" ><%= @customer.tel%></a></p>
      
      <p>Email: <a href="mailto:<%= @customer.email %>" ><%= @customer.email%></a></p>
    </div>
  </div>
</div>