<p id="notice"><%= notice %></p>

<h1>Espacios de Descanso</h1>


<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <% @tombs.each do |tomb| %>
        <div class="card d-inline-block mx-3 my-3" style="width: 15rem;">
          <% if tomb.pictures.length != 0 %>
            <img src="<%= tomb.pictures.first.image.url  %>" class="card-img-top" alt="...">
          <% else %>
            <img src="<%= asset_path 'noimage.JPG' %>" class="card-img-top" alt="...">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= tomb.title %></h5>
            <p class="card-text"><%= tomb.description %></p>
            <p class="card-text"><%= tomb.entity %></p>
            <p class="card-text">Precio alrededor de <%= tomb.price %></p>
            <%= link_to 'Detalles', tomb %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>

