<div class="containter productIndex">
  <div class="row">
    <div class="col-10 col-lg-6 mx-auto cuadro">
      <div class="actions">
        <%= link_to 'Nuevo producto', new_product_path, class: "btn btn-warning btn-lg btn-block mt-3 mb-3" %>
      </div>
      <table class="table mx auto">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Vendidas</th>
            <th>Publicadas</th>
            <th>Revisando</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><h1><%= link_to product.name, product %></h1></td>
            <td><span class="badge badge-primary badge-pill"><%= Tomb.where('category like ? AND ready like ?', product.name, 'Vendida').count %> </span></td>
            <td><span class="badge badge-success badge-pill"><%= Tomb.where('category like ? AND ready like ?', product.name, 'Si').count %> </span></td>
            <td><span class="badge badge-warning badge-pill"><%= Tomb.where('category like ? AND ready like ?', product.name, 'No').count %> </span></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> 
</div>
