<!DOCTYPE html>
<html>
  <head>
    <title>Tombrider</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Tomb-Rider", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Crear Espacio", new_tomb_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item active">
              <%= link_to "Productos", products_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item active">
              <%= link_to "Entidades", entities_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item">
              <%= link_to "Revisar clientes", tasks_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown navbar-right">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="<%= Gravatar.new("#{current_user.email}").image_url %>" class="img-circle" />
                <%= current_user.email %>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li><%= link_to "Regístrate", new_user_registration_path, class: 'nav-link' %></li>
            <li><%= link_to "Ingresar", new_user_session_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
        <%= form_tag searches_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', placeholder: 'Buscar Espacio de Descanso' %>
          <span class="input-group-btn"></span>
        <% end %>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-primary"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
