<!DOCTYPE html>
<html>
  <head>
    <title>Bosques del Recuerdo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id='fondo'>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <h1><%= link_to "Bosques del Recuerdo", tombs_path, class: "navbar-brand topbar" %></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon topbar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item my-auto">
              <%= link_to "Anuncios", tombs_path, class: 'nav-link topbar' %>
            </li>
            <li class="nav-item my-auto">
              <%= link_to "Crear anuncio", new_tomb_path, class: 'nav-link topbar' %>
            </li>
            <% if current_user.admin == true %>
              <li class="nav-item my-auto">
                <%= link_to "Productos", products_path, class: 'nav-link topbar' %>
              </li>
              <li class="nav-item my-auto">
                <%= link_to "Entidades", entities_path, class: 'nav-link topbar' %>
              </li>
              <li class="nav-item my-auto">
                <%= link_to "Compradores", customers_path, class: 'nav-link topbar' %>
              </li>
              <li class="nav-item my-auto">
                <%= link_to "Vendedores", users_path, class: 'nav-link topbar' %>
              </li>
            <% end %>
            <li class="nav-item dropdown navbar-right">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="<%= Gravatar.new("#{current_user.email}").image_url %>" class="img-circle" />
                <%= current_user.email %>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu px-3" aria-labelledby="navbarDropdown">
                <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "btn btn-warning btn-lg btn-block" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item my-auto">
              <%= link_to "Inicio", static_pages_home_path, class: 'nav-link topbar' %>
            </li>
            <li class="nav-item my-auto">
              <%= link_to "Servicios", static_pages_services_path, class: 'nav-link topbar' %>
            </li>
            <li class="nav-item my-auto">
              <%= link_to "Quienes somos", static_pages_whoweare_path, class: 'nav-link topbar' %>
            </li>
            <li class="nav-item my-auto">
              <%= link_to "Contacto", static_pages_contact_path, class: 'nav-link topbar' %>
            </li>
            <li class="nav-item my-auto">
              <%= link_to "Ayuda", static_pages_help_path, class: 'nav-link topbar' %>
            </li>
            <li class="nav-item my-auto">
              <%= link_to "Ingresar", new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item my-auto">
              <%= link_to "Regístrate", new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
<!--         <%= form_tag searches_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :search, params[:search], class: 'form-control mx-auto mr-lg-2', placeholder: 'Buscar anuncio' %>
          <span class="input-group-btn"></span>
        <% end %> -->

        <%= form_tag tombs_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :search, params[:search], class: 'form-control mx-auto mr-lg-2', placeholder: 'Buscar anuncio' %>
          <span class="input-group-btn"></span>
        <% end %>

      </div>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-primary productIndex"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger productIndex"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
